<h2> Welcome to RideShare!</h2>

<p>We're super successful and busy! So far, we have <%= @drivers_num %> drivers and <%= @passengers_num %> passengers using our app, and a total of <%= @trips_num %> trips.</p>