// Place all the styles related to the Passengers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the Drivers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.detail-list {
    box-shadow: 2px 2px 5px grey;
    margin: 0;
    padding: 0;
    width: 50vw;
    border-radius: 25px;    
}

.passenger-details {
    display: grid;
    grid-template: 100px 50px 1fr / 1fr 1fr 100px 100px;
    text-align: center;
    background-color: lightgrey;
    margin: 10px;
}

.passenger-details span {
    padding: 20px;
}

.main-list  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    padding-top: 10px;
    border-bottom: 1px solid black;
    width: 100vw;
}

#name {
    background-color: rgb(43, 114, 87);
    color: white;
    grid-column: span 5;
    text-align: center;
}